gastgewerbe-app-initializer/src/main/resources/produktInitSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="produkt" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="produktcode"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="beschreibung"/>
              <xs:element type="xs:double" name="preis"/>
              <xs:element type="xs:string" name="kategorie"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>