gastgewerbe-app-gui-kueche/src/main/resources/lieferantInitSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lieferanten">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lieferant" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="strasse"/>
              <xs:element type="xs:short" name="plz"/>
              <xs:element type="xs:string" name="ort"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="telefonnummer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

