gastgewerbe-app-gui-kueche/src/main/resources/produktTypInitSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="produktTypen">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="produktTyp" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:float" name="preis"/>
              <xs:element type="xs:string" name="beschreibung"/>
              <xs:element type="xs:byte" name="min-bestand"/>
			  <xs:element type="xs:string" name="lieferant"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>